<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/normalbase::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	<section>

		<div class="card mr-3 ml-3">

			<div class="card-body">
			
				<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert text-center"
						role="alert">
						<p th:text="${session.message.content}"
							class="rounded text-dark"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			
					</div>

				<div class="container text-center">

					<img class="profile_desc" th:src="@{'/img/'+${contact.image}}">

					<h4 th:text="${contact.name}"></h4>

				</div>

				<table class="table caption-top">
					<!--  <thead>
    <tr>  </tr>
  </thead> -->
					<tbody>

						<tr>
							<th scope="row">#ID</th>

							<td><span th:text="${'CLA'+contact.contactId}"></span></td>

						</tr>

						<tr>
							<th scope="col">Email</th>

							<td><span th:text="${contact.email}"></span></td>

						</tr>

						<tr>
							<th scope="col">Phone No</th>

							<td><span th:text="${contact.phoneNo}"></span></td>

						</tr>

						<tr>
							<th scope="col">Address</th>

							<td><span th:text="${contact.address}"></span></td>

						</tr>

						<tr>
							<th scope="col">Profession</th>

							<td><span th:text="${contact.work}"></span></td>

						</tr>

						<tr>
							<th scope="col">Description</th>


							<td>
								<div class="description">

									<th:block th:utext="${contact.description}"></th:block>

								</div>

							</td>
						</tr>
						<tr>
<!-- 							<td class="text-center"><a th:href="@{/user/view_contact/0}">
	not used because we specifically have to get the page no to render back where history.back() use session to go to previous page-->
							
							<td>
								<a><button onclick="history.back()"  class="text-white btn bg-primary ">Back</button></a>
							</td>
						</tr>
					</tbody>
				</table>






			</div>


		</div>
<script>
$(document).ready(()=>
	{
		$(".item").removeClass("active");
		$("#contact-link").addClass("active");
	});
</script>
	</section>
</body>
</html>