<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		
		<div class="container text-center">
		
			
		<div class="mb">
		 <h4 class="mt-6 mb-2">JSRK</h4>	
		</div>
		<div>
		<h1 class="mt-2">Create your own Contact HUB</h1>
		</div>
		<br>
		 <div>
		 <h5>Seamlessly Find-Update-Delete Your Contacts for free</h5>
		 </div>
		 
		 <div>
		 <a th:href="@{/login}"> <button class="btn bg-warning">Get Started</button></a>
		 
		 </div>
	</div> 
		 
	</section>
</body>
</html>